<!DOCTYPE html>
<html>
    <head>
        <title>Bargain Books - <%=shopData.shopName%></title>
        <link rel="stylesheet" type="text/css" href="/main.css" />
    </head>
    <body>
        <h1><%=shopData.shopName%> Shop</h1>
        <h2>Here are the books on sale:</h2>
        <ul>
            <% books.forEach(function(book) { %>
            <li><%= book.name %>, £<%= Number(book.price).toFixed(2) %></li>

            <% }); %>
        </ul>
    </body>
</html>
